$font-size-base: 0.7rem;
$white: rgb(255, 255, 255);

$brand-dark: rgb(70, 1, 115);
$brand-medium-alternate: rgb(165, 165, 165);
$brand-medium: rgb(226,226,226);
$brand-light: rgb(243, 243, 243);
$brand-lighter: rgb(239, 239, 239);
$brand-highlight: rgb(160, 6, 255);
$brand-highlight-lighter: rgba(160, 0, 255, 0.75);
$brand-background: $white;
